.news-cycle
  +widget-height-2
  +widget-rules
    
#news-cycle-ea
  :width 450px
  :height 220px
  :background #fff
  :border 1px solid #b5c9e8
  :color black

  h2
    
  dl
    :width 450px
    :height 220px

  dt
    :height 25px
    :line-height 24px
    :text-align right
    :padding 0 15px 0 0
    :font-size 1.1em
    :font-weight bold
    :font-family  Tahoma, Geneva, sans-serif
    :text-transform uppercase
    :letter-spacing 1px
    :background #fff url(images/slide-title-inactive-2.jpg) 0 0 no-repeat
    :color #26526c
    
  dt.active
    :cursor pointer
    :color black
    :background #fff url(images/slide-title-active-2.jpg) 0 0 no-repeat

  dt.hover
    :color #68889b

  dt.active.hover
    :color #fff

  dd
    :padding 25px
    :background #fff url(images/slide.jpg) bottom left repeat-x
    :border 1px solid #dbe9ea
    :border-left 0
    :margin-right 3px

  .slide-number
    :color #68889b
    :left 10px
    :font-weight bold

  .active .slide-number
    :color black

  a
    :color #68889b

  dd img
    :float right
    :margin 0 0 0 30px
    :position relative
    :top -20px
