=widget-height-1
  :height 100px
=widget-height-2
  :height 220px
=widget-height-3
  :height 340px
=widget-height-4
  :height 460px
=widget-height-8
  :height 940px

.widget-ghost
  :background black
  +border-radius(5px)
  :margin-bottom 20px
  +opacity(0.2)
  
.widget-box
  :background #30322F
  +box-shadow(black, 0px, 3px, 6px)
  :margin-bottom 10px
  +border-radius(5px)
  +linear-gradient(color-stops(#323537, #2B2E31))
  :position relative
  :margin-bottom 20px
  :overflow hidden
  
  .type-bar
    :position absolute
    :bottom 0px
    :right 20px
    :background-color red
    :padding 0 15px
    :height 22px
    :font-size 11px
    :line-height 22px
    :text-align center
    +border-top-radius(5px)
    +box-shadow(#212121, 0px, -2px, 2px)
    +linear-gradient(color-stops(#C22222, #931B1C))
    +text-shadow(darken(#931B1C, 40%), 0px, -1px, 1px)
    :z-index 1000
      
  &.github-issues .type-bar, &.github-project-issues .type-bar, &.github-top-committers .type-bar, &.github-commits .type-bar
    +linear-gradient(color-stops(#26C022, #1E8F1B))
    +text-shadow(darken(#1E8F1B, 40%), 0px, -1px, 1px)
    
  &.feed-input .type-bar
    +linear-gradient(color-stops(#D2C62B, #B5A320))
    +text-shadow(darken(#B5A320, 40%), 0px, -1px, 1px)
  
  &.twitter-search .type-bar
    +linear-gradient(color-stops(#38CDFF, #2995BC))
    +text-shadow(darken(#2995BC, 40%), 0px, -1px, 1px)
  
  &.calendar-events .type-bar
    +linear-gradient(color-stops(#8BC3E6, #618FA7))
    +text-shadow(darken(#618FA7, 40%), 0px, -1px, 1px)

  &.weather .type-bar
    +linear-gradient(color-stops(#8BC3E6, #618FA7))
    +text-shadow(darken(#618FA7, 40%), 0px, -1px, 1px)
    
.widget-content

  .new-mode
    :padding 5px
    :padding-left 7px
    
  .edit-mode
    :padding 5px
    :padding-left 7px
  
.widget-head 
  :background #323537
  +linear-gradient(color-stops(#323537 48%, #2B2E31 49%))
  :font-size 16px 
  :color #C6C6C6
  :text-align left
  :padding 5px 5px 5px 10px
  :border-top 1px solid #44494D
  :border-bottom 1px solid #3D4246
  :font-family "MuseoSlab500", "Trebuchet MS", Arial, sans-serif
  +border-top-radius(5px)
  +clearfix

  .title
    :float left
    h1
      :font-size 20px 
          
  .actions
    :float right
    :margin-right 5px
    :margin-top 2px
    
    ul
      li
        :float right
        :margin-left 2px
        
        a
          :display block
          :width 18px
          :height 18px
          :text-indent -1000px
          :background-repeat no-repeat
          :background-position center center
          
          &:hover
            :opacity 0.5
            
        &.remove a
          :background-image url(/images/admin/quit.png)
          
          
        &.settings a
          :background-image url(/images/admin/gears.png)
      

.widget a
  :color #8BB698
  
=single-content
  :background-color #587062
  :color #D5DFAB
  :font-size 12px
  :margin-bottom 10px
  :padding 5px
  :position relative
  
.single-content-odd
  +single-content
  +border-corner-radius(top,left,5px)
  +border-corner-radius(bottom,right,5px)  

.single-content-even
  +single-content
  +border-corner-radius(top,right,5px)
  +border-corner-radius(bottom,left,5px)
  
