=widget-height-1
  :height 100px
=widget-height-2
  :height 220px
=widget-height-4
  :height 460px
=widget-height-8
  :height 940px
=widget-rules
  :overflow hidden

.widget-box
  :background #30322F
  +box-shadow(black, 0px, 3px, 6px)
  :margin-bottom 10px
  +border-radius(5px)
  +linear-gradient(color-stops(#323537, #2B2E31))
  :position relative
  
  .type-bar
    :position absolute
    :bottom 0px
    :right 20px
    :background-color red
    :padding 0 15px
    :height 22px
    :font-size 11px
    :line-height 22px
    :text-align center
    +border-top-radius(5px)
    +box-shadow(#212121, 0px, -2px, 2px)
    +linear-gradient(color-stops(#C22222, #931B1C))
    
.widget-content

  .new-mode
    :padding 5px
    :padding-left 7px
  
.widget-head 
  :background #323537
  +linear-gradient(color-stops(#323537 48%, #2B2E31 49%))
  :font-size 16px 
  :color #C6C6C6
  :text-align left
  :padding 5px 5px 5px 10px
  :border-top 1px solid #44494D
  :border-bottom 1px solid #3D4246
  :font-family "MuseoSlab500", "Trebuchet MS", Arial, sans-serif
  +border-top-radius(5px)
  +clearfix

  .title
    :float left
    h1
      :font-size 20px 
          
  .actions
    :float right
    :margin-right 5px
    :margin-top 2px
    
    ul
      li
        :float right
        :margin-left 2px
        
        a
          :display block
          :width 18px
          :height 18px
          :text-indent -1000px
          :background-repeat no-repeat
          :background-position center center
          
          &:hover
            :opacity 0.5
            
        &.remove a
          :background-image url(/images/admin/quit.png)
          
          
        &.settings a
          :background-image url(/images/admin/gears.png)
      

.widget a
  :color #8BB698
  
=single-content
  :background-color #587062
  :color #D5DFAB
  :font-size 12px
  :margin-bottom 10px
  :padding 5px
  :position relative
  
.single-content-odd
  +single-content
  +border-corner-radius(top,left,5px)
  +border-corner-radius(bottom,right,5px)  

.single-content-even
  +single-content
  +border-corner-radius(top,right,5px)
  +border-corner-radius(bottom,left,5px)
  
