%div
  - widget_data.items.each do |item|
    .item
      .normal-content
        %h2
          - if item.link
            %a{:href => item.link}
              != item.primary_text
          - else
            != item.primary_text
        %p.details
          - if item.optional_text
            = render_text(item.optional_text)
            %br
          - if item.secondary_text
            != sanitize(render_text(item.secondary_text))