.block
  :padding-bottom 5px
  :margin-bottom 25px
  :clear both
  :background white url(/images/admin/bnd.gif) bottom center repeat-x
  
  .bendl
    :width 5px
    :height 5px
    :background url(/images/admin/bendl.gif) bottom left no-repeat
    :float left
    
  .bendr
    :width 5px
    :height 5px
    :background url(/images/admin/bendr.gif) bottom left no-repeat
    :float right
    
  .block_head
    :height 54px
    :line-height 54px
    :background url(/images/admin/bhead.gif) 0 0 repeat-x
    :overflow hidden
    
    .bheadl
      :width 20px
      :height 54px
      :float left
      :background url(/images/admin/bheadl.gif) top left no-repeat
      
    .bheadr
      :width 20px
      :height 54px
      :float right
      :background url(/images/admin/bheadr.gif) top right no-repeat
      
    h2
      :font-family "Yanone Kaffeesatz", "Trebuchet MS", Arial, sans-serif
      :font-size 26px
      :font-weight normal
      :color #555
      :text-shadow 1px 1px 0 #fff
      :float left
      
    ul
      :float right
      :text-transform uppercase
      :font-size 11px
      :font-weight bold
      :text-shadow 1px 1px 0 #fff
      
      li
        :display inline
        :padding 3px 0
        :padding-left 20px
        :background url(/images/admin/phs.gif) 7px center no-repeat
        
        &.nobg
          :background none
          
        a
          :text-decoration none
          :color #666
          :outline none
          
        &.active a
          :color #888
          
        a:hover
          :color #008ee8
          
    form
      :float right
      :padding 15px 0
      :height 34px
      :line-height 24px
      
      .text
        :width 129px
        :height 15px
        :padding 5px 10px 5px 25px
        :border 0
        :font-size 11px
        :color #999
        :margin 0
        :background url(/images/admin/srch.gif) left center no-repeat
        
        &:focus
          :color #666
          :background url(/images/admin/srch_.gif) left center no-repeat
          
    select
      :text-transform none

  &.small
    :width 49%
    :background white url(/images/admin/bnd.gif) bottom center repeat-x
    :padding-bottom 0
    
    &.left
      :float left
      :clear none
      
    &.right
      :float right
      :clear none
      
    .block_head
      :background url(/images/admin/bhead.gif) 0 0 repeat-x
      
    .block_content
      :background #fff
      :border-left 1px solid #ccc
      :border-right 1px solid #ccc
      
      input.text, textarea
        :width 96%
        :padding 7px
        
    &.center
      :float none
      :margin 0 auto
