form
  div.input
    :overflow hidden
    :clear both
    :padding-bottom 15px
  label
    :font-family "Lucida Grande", Verdana, sans-serif
    :font-size 12px
    :font-weight bold
    :color #555
    :margin-right 10px
    :vertical-align middle
    :display block
    &.inline
      :display inline
  input[type=text], input[type=email], input[type=password]
    :width 492px
    :background #fefefe
    :border 1px solid #bbb
    :font-family "Lucida Grande", Verdana, sans-serif
    :font-size 20px
    :color #333
    :padding 7px
    :-webkit-border-radius 3px
    :-moz-border-radius 3px
    :border-radius 3px
    :outline none
    :vertical-align middle
    &.medium
      :width 600px
    &.big
      :width 98%
    &.date_picker
      :width 100px
      :padding-right 36px
      :cursor pointer
      :background url(/images/admin/cal.jpg) center right no-repeat
  textarea
    :width 98%
    :height 140px
    :padding 5px
    :background #fefefe
    :border 1px solid #bbb
    :font-family "Lucida Grande", Verdana, sans-serif
    :font-size 14px
    :color #333
    :-webkit-border-radius 3px
    :-moz-border-radius 3px
    :border-radius 3px
    :outline none
    &.wysiwyg
      :width 98%
      :padding 0
  input
    &.radio, &[type=checkbox]
      :display inline
      :vertical-align middle
  label.boolean
    :display inline
  .check_boxes
    label.collection_check_boxes
      :float left
    input
      :float left
      :clear left
  .error
    :padding-left 10px
    :font-size 11px
    :font-weight bold
    :color #757575
    :vertical-align middle
    :color #e3302c
