%div{:id => "news-cycle-ea", :class => "news-cycle single-content-odd"}
  %dl
    %dt
      TitoloA
    %dd 
      contenutoA
    %dt 
      TitoloB
    %dd 
      contenutoB
    %dt 
      TitoloC
    %dd 
      contenutoC
    %dt 
      TitoloD
    %dd 
      contenutoD
    %dt 
      TitoloE
    %dd 
      contenutoE
