%div#news-cycle-ea.news-cycle.single-content-odd
  %dl
    - @widget_data.items.each do |item|
      %dt
        = item.primary_text[0..15]
      %dd 
        = snippet(sanitize(item.secondary_text), 50)
