.wrapper
  .welcome-block
    .left
      %a{:href => dashboard_url("welaika")}
        = image_tag "/images/screenshot.png"
    .right
  
      %h1.boardd-logo 
        %span Bo<span>arr</span>d.
      
      .welcome-description
        %p Boarrd is a hosted, higly customizable, do-it-yourself status board giving you a quick & fancy look at all the indicators that matter to you.
        %p Add widgets. Attach them custom data input. Dribble.
            
        
      .full-width-button
        = link_to "Create a new Boarrd!", new_dashboard_path
