.big-description
  %p Boarrd is a hosted, higly customizable, do-it-yourself status board giving you a quick & fancy look at all the indicators that matter mostly to you.
  %p Create new visualization widgets. Attach them custom data input. Become wet.