.dashboard
  .column
    .widget.news_ticker
    .widget.news_cycle
    .widget.news_multiple
  .column
    .widget
    .widget
    .widget
    
  %script{:type => "text/json"}
    != @dashboard_settings.to_json