.dashboard
  .column
    .widget.news-ticker
    .widget.news-cycle
    .widget.news-multiple
  .column
    .widget
    .widget
    .widget
    
  %script{:type => "text/json"}
    != @dashboard_settings.to_json
