.countdown_dashboard{:"date" => widget_data.item.date}
  .dash.weeks_dash
    %span.dash_title weeks
    .digit 0
    .digit 0
  .dash.days_dash
    %span.dash_title days
    .digit 0
    .digit 0
  .dash.hours_dash
    %span.dash_title hours
    .digit 0
    .digit 0
  .dash.minutes_dash
    %span.dash_title minutes
    .digit 0
    .digit 0
  .dash.seconds_dash
    %span.dash_title seconds
    .digit 0
    .digit 0
