%ul.items
  - widget_data.items.each do |item|
    %li
      .header
        %h3.primary_text
          %span.inner
            - if item.link
              = link_to item.primary_text, item.link
            - else
              = item.primary_text
          
        - if item.optional_text
          %span.optional_text= render_text(item.optional_text)
      - if item.secondary_text
        %p.secondary_text!= snippet(sanitize(render_text(item.secondary_text)), 30)