#footer
  %p
    %b
      Boarrd by
      = link_to "WeLaika", "http://welaika.com"
      &copy; 2010
  %p
    %span.bracket= "\{ "
    Created for 
    = link_to "Rails On Rumble", "http://railsrumble.com/"
    contest 2010
    %span.bracket= " \}"
  
