#footer
  %p
    Bo<span class="arr">arr</span>d is a shiny new app brought to you by
    = link_to "weLaika", "http://www.welaika.com/"
    &mdash; &copy; 2010
  %p.smaller
    %span.bracket {
    Done in (less than) 48 hours, for the 
    = link_to "Rails Rumble MMX", "http://railsrumble.com/"
    contest.
    %span.bracket }