.menu-hud
  %div{:class => controller_name.to_sym == :dashboards ? "wrapper" : "tiny-wrapper"}
    %ul
      %li= link_to "Log out", destroy_user_session_path
      %li
        Logged in as
        = link_to current_user.email, dashboards_path