!!! strict
%html
  %head
    = render :partial => 'layouts/head'
    
  %body{:class => @large ? "large" : "tiny"}
    #hld
      = render :partial => 'layouts/hud'
      
      .wrapper
        
        %h1.boardd-logo 
          %span Bo<span>arr</span>d.
      
        = yield

    = render :partial => 'layouts/footer'
