!!! strict
%html
  %head
    = render :partial => 'layouts/head'
    
  %body
    #hld
      .wrapper
        = yield
        
    %script{:type => "text/javascript"}
      var rumbleUrl = 'http://railsrumble.com';
      
    %script{:type => "text/javascript",
        :src  => "http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"}
